body{
    background-color: rgb(137, 141, 139);
}
h1{
    text-align: center;
    color: rgb(132, 146, 9);
}
header{
    background-color: rgb(18, 27, 3);    
}
hr{
    margin-top: -15px;
}
.dados{
    width: 50%;
    position: relative;
    margin-top: 100px;
    left: 29%;
    
}
p{
    text-align: center;
    margin-top: 20px;
}
